.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #dcedc8, #c5e1a5, #a5d6a7); /* Vibrant green gradient */
}

.loader {
  position: relative;
  width: 150px;
  height: 150px;
}

.spinner-ring {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 8px solid transparent;
  border-top: 8px solid #4caf50; /* Dark Green */
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.2));
}

.spinner-ring-2 {
  width: 120px;
  height: 120px;
  top: 15px;
  left: 15px;
  border-top: 8px solid #81c784; /* Lighter Green */
  animation: spin-reverse 2s linear infinite;
}

.spinner-ring-3 {
  width: 90px;
  height: 90px;
  top: 30px;
  left: 30px;
  border-top: 8px solid #a5d6a7; /* Even Lighter Green */
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin-reverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.center-text {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: bold;
  color: #388e3c; /* Dark Green */
  text-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
}
